            <ul class="nav nav-tabs">
              <li><a href="<%= learnings_path %>">学習状況</a></li>
              <li class="active"><a><span style="font-size: 12px; line-height: 120%; !important">メモ・チェックレッスン</span></a></li>
              <li><a href="<%= friends_path %>">友達
                <% if @new_disp.present? && @new_disp == true %>
                  <span style="color: red; font-size: 12px">New</span>
                <% end %>
              </a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="memo">
                <div class="col-xs-12">
                  <h3 class="tangen">学習メモ</h3>
                  <% if @memos.present? %>
                    <dl id="memo">
                      <% @memos.each do |m| %>
                        <% if m.memo.present? %>
                          <dt style="border-bottom: 1px solid #ccc; margin-bottom: 20px;">
                            <div class="row">
                              <div class="col-xs-8">・ 【中学<%= m.lesson.grade %>年生】<%= m.lesson.unit_name %>：<%= m.lesson.unit_item_name %></div>
                              <div class="col-xs-3"><a href="/grade<%= m.lesson.grade %>/<%= m.lesson.unit_item_name %>/<%= m.lesson.id %>">Lessonを見る</a></div>
                              <div class="col-xs-1"><span class="caret"></span></div>
                            </div>
                          </dt>
                          <dd><%= m.memo %></dd>
                        <% end %>
                      <% end %>
                    </dl>
                  <% else %>
                    <p>学習メモはありません。</p>
                  <% end %>
                </div>
                <div class="col-xs-12">
                  <h3 class="tangen">チェックレッスン一覧</h3>
                  <% if @checks.present? %>
                    <% @checks.each do |c| %>
                      <ul>
                        <li style="border-bottom: 1px solid #ccc"><a href="/grade<%= c.lesson.grade %>/<%= c.lesson.unit_item_name %>/<%= c.lesson.id %>">【中学<%= c.lesson.grade %>年生】<%= c.lesson.unit_name %>：<%= c.lesson.unit_item_name %></a></li>
                      </ul>
                    <% end %>
                  <% else %>
                    <p>チェックしたレッスンはありません。</p>
                  <% end %>
                </div>
              </div>
            </div>