<h2>プロフィールの確認・変更</h2>
<p>プロフィールを変更する場合は必要な項目を変更し、下部にある【更新する】をクリックしてください。</p>
<div class="col-xs-12">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal'  }) do |f| %>
    <%= devise_error_messages! %>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class="col-xs-4">
        <p>ユーザ名</p>
      </div>
      <div class="col-xs-6">
        <%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => 'ユーザーネーム' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <p>登録メールアドレス</p>
      </div>
      <div class="col-xs-6">
        <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'メールアドレス' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <p>性別</p>
      </div>
      <div class="col-xs-8">
        <label><%= f.radio_button :sex, '男性' %>男性</label>　
        <label><%= f.radio_button :sex, '女性' %>女性</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <p>学年(学齢)</p>
      </div>
      <div class="col-xs-8">
        <label><%= f.radio_button :grade, '1' %>小学生以下</label><br />
        <label><%= f.radio_button :grade, '2' %>中学1年生</label><br />
        <label><%= f.radio_button :grade, '3' %>中学2年生</label><br />
        <label><%= f.radio_button :grade, '4' %>中学3年生</label><br />
        <label><%= f.radio_button :grade, '5' %>高校1年生</label><br />
        <label><%= f.radio_button :grade, '6' %>高校2年生</label><br />
        <label><%= f.radio_button :grade, '7' %>高校3年生</label><br />
        <label><%= f.radio_button :grade, '8' %>それ以上</label><br />
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <p>都道府県</p>
      </div>
      <div class="col-xs-4">
      <%= f.select :prefecture, [["北海道",'北海道'],
    ["青森県",'青森県'],
    ["岩手県",'岩手県'],
    ["秋田県",'秋田県'],
    ["宮城県",'宮城県'],
    ["山形県",'山形県'],
    ["福島県",'福島県'],
    ["茨城県",'茨城県'],
    ["栃木県",'栃木県'],
    ["群馬県",'群馬県'],
    ["埼玉県",'埼玉県'],
    ["千葉県",'千葉県'],
    ["東京都",'東京都'],
    ["神奈川県",'神奈川県'],
    ["新潟県",'新潟県'],
    ["福井県",'福井県'],
    ["石川県",'石川県'],
    ["富山県",'富山県'],
    ["静岡県",'静岡県'],
    ["山梨県",'山梨県'],
    ["長野県",'長野県'],
    ["愛知県",'愛知県'],
    ["岐阜県",'岐阜県'],
    ["三重県",'三重県'],
    ["和歌山県",'和歌山県'],
    ["滋賀県",'滋賀県'],
    ["奈良県",'奈良県'],
    ["京都府",'京都府'],
    ["大阪府",'大阪府'],
    ["兵庫県",'兵庫県'],
    ["岡山県",'岡山県'],
    ["広島県",'広島県'],
    ["鳥取県",'鳥取県'],
    ["島根県",'島根県'],
    ["山口県",'山口県'],
    ["香川県",'香川県'],
    ["徳島県",'徳島県'],
    ["愛媛県",'愛媛県'],
    ["高知県",'高知県'],
    ["福岡県",'福岡県'],
    ["佐賀県",'佐賀県'],
    ["長崎県",'長崎県'],
    ["大分県",'大分県'],
    ["熊本県",'熊本県'],
    ["宮崎県",'宮崎県'],
    ["鹿児島県",'鹿児島県'],
    ["沖縄県",'沖縄県']], {}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4">
        <p>ユーザー画像</p>
      </div>
      <div class="col-xs-6">
        <%= image_tag(f.object.avatar.url(:thumb)) %><span class="text-danger">※現在の画像</span>
        <%= f.file_field :avatar, :class => 'form-control top15' %>
        <i class="text-danger">※変更しない場合は空白のままにしてください。</i>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <span>自己紹介、または勉強への意気込みなど</span>
        <%= f.text_area :comment, :class =>  "form-control", :placeholder => "自己紹介、または勉強への意気込みなど", :style => "height: 120px;", :autofocus => true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-9 col-xs-offset-4">
        <%= f.check_box :mailmag, {:class => 'chk'}, true, false %>毎週の学習レポートを受け取る
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4">
        <p>パスワード</p>
      </div>
      <div class="col-xs-7">
        <%= f.password_field :password, :autofocus => true, :class => 'form-control', :placeholder => 'パスワード', :autocomplete => "off" %>
        <i class="text-danger">※変更しない場合は空白のままにしてください。</i>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4">
        <p>パスワード（確認用）</p>
      </div>
      <div class="col-xs-7">
        <%= f.password_field :password_confirmation, :autofocus => true, :class => 'form-control', :placeholder => 'パスワード（確認用）' %>
      </div>
    </div>

    <% if false %>
      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %></div>
    <% end %>

  <div class="form-group">
    <div class="col-xs-7 col-xs-offset-4">
      <%= f.submit "更新する", :class => 'btn btn-default' %>
    </div>
  </div>
  <% end %>
</div>
