            <ul class="nav nav-tabs">
              <li><a href="<%= learnings_path %>">学習状況</a></li>
              <li><a href="<%= learnings_memo_path %>"><span style="font-size: 12px; line-height: 120%; !important">メモ・チェックレッスン</a></li>
              <li class="active"><a>友達
                <% if @new_disp == true %>
                  <span style="color: red; font-size: 12px">New</span>
                <% end %>
              </a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="friends">
                <div class="col-xs-12">
                  <h3>友達一覧</h3>
                <%= @friend_ids1 %>
                  <% if @friends.present? %>
                    <% @friends.each do |f| %>
                      <div class="col-md-2 col-xs-3">
                        <%= link_to image_tag(f.avatar.url(:thumb)), friend_path(f.id) %><br><%= link_to f.name, friend_path(f.id) %>
                      </div>
                    <% end %>
                  <% else %>
                    <p>友達はいません。以下より友達を検索して、友達を作りましょう。</p>
                  <% end %>
                </div>
                <div class="col-xs-12">
                  <h3 class="tangen">友達申請</h3>
                  <% if @from_friends.present? %>
                    <% @from_friends.each do |f| %>
                      <div class="col-md-2 col-xs-3">
                        <% if f.created_at.to_i - @time_now < @new_period %>
                          <span style="color: red;">【New】</span>
                        <% end %>
                        <%= link_to image_tag(f.avatar.url(:thumb)), friend_path(f.id) %><br>
                        <%= link_to f.name, friend_path(f.id) %>
                      </div>
                    <% end %>
                  <% else %>
                    <p>友達申請はありません。</p>
                  <% end %>
                </div>
                <div class="col-xs-12">
                  <h3 class="tangen">友達を探す</h3>
                  <%= @search_form.male %>
                  <%= form_for @search_form, url: friends_path, html: {method: :get, :class => 'form-horizontal'} do |f| %>
                    <div class="form-group">
                      <div class="col-xs-3">
                        <%= f.search_field :q, :class => 'form-control', :placeholder => '名前', :style => 'height: 20px;' %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-3">
                        <label>性別：</label>
                      </div>
                      <div class="col-xs-9">
                        <label><%= f.check_box :male %>男性</label>　
                        <label><%= f.check_box :female %>女性</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-3">
                        <%= f.label :grade, '学年(学齢)：' %>
                      </div>
                      <div class="col-xs-9">
                        <label><input type="checkbox" name="grade[]" value="1" >小学生以下</label><br />
                        <label><input type="checkbox" name="grade[]" value="2" >中学1年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="3" >中学2年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="4" >中学3年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="5" >高校1年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="6" >高校2年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="7" >高校3年生</label><br />
                        <label><input type="checkbox" name="grade[]" value="8" >それ以上</label><br />
                      </div>
                    </div>
                    <%= f.submit '検索する', :class => 'btn btn-default col-xs-offset-3', :style => 'width: 80px;' %>
                  <% end %>
                  <div id="search-result" class="row">
                  <% if params[:commit].present? %>
                    <% if @search_users.present? %>
                      <% @search_users.each do |s| %>
                        <div class="col-md-2 col-xs-3">
                          <%= link_to image_tag(s.avatar.url(:thumb)), friend_path(s.id) %><br><%= link_to s.name, friend_path(s.id) %>
                        </div>
                      <% end %>
                    <% else %>
                      <p>一致するものがありませんでした。</p>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>