<ul class="nav nav-tabs">
  <li><%= link_to 'ログイン', new_user_session_path %></li>
  <li><%= link_to '新規会員登録', new_user_registration_path %></li>
  <li class="active"><a>パスワード再発行</a></li>
</ul>
<p class="top15">登録したメールアドレスを入力してください。</p>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-xs-6">
      <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => '登録メールアドレス'  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <%= f.submit "パスワードを再発行する", :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<hr class="col-xs-11">
<%= render "devise/shared/links" %>