      <div class="col-xs-12 col-md-4">
        <div class="clearfix">
          <h3><%= link_to '中学1年生', grade1_index_path %></a></h3>
          <% if @footer_grade1.present? %>
            <ul>
              <% @footer_grade1.each do |unit| %>
                <li><%= link_to unit.lesson_unit_name, '/grade1/index/#' + unit.lesson_unit_name %></li>
              <% end %>
            </ul>
          <% else %>
            <p>準備中です</p>
          <% end %>
          <h3><%= link_to '中学2年生', grade2_index_path %></h3>
          <% if @footer_grade2.present? %>
            <ul>
              <% @footer_grade2.each do |unit| %>
                <li><%= link_to unit.lesson_unit_name, '/grade2/index/#' + unit.lesson_unit_name %></li>
              <% end %>
            </ul>
          <% else %>
            <p>準備中です</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="clearfix">
          <h3><%= link_to '中学3年生', grade3_index_path %></h3>
          <% if @footer_grade3.present? %>
            <ul>
              <% @footer_grade3.each do |unit| %>
                <li><%= link_to unit.lesson_unit_name, '/grade3/index/#' + unit.lesson_unit_name %></a></li>
              <% end %>
            </ul>
          <% else %>
            <p>準備中です</p>
          <% end %>
          <h3><%= link_to 'カテゴリ', lessons_category_path %></h3>
          <% if @footer_categories.present? %>
            <ul>
              <% @footer_categories.each do |category| %>
                <li><%= link_to category.lesson_category_name, lessons_category_path + '#' + category.lesson_category_name %></a></li>
              <% end %>
            </ul>
          <% else %>
            <p>準備中です</p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="clearfix">
          <h3>ご利用にあたって</h3>
          <ul class="footer-list">
            <li><a href="/cat_list/1">このサイトの使い方</a></li>
            <li><%= link_to 'お問合せ', contact_new_path %></li>
            <li><a href="/about/sitemap" title="サイトマップ">サイトマップ</a></li>
            <li><%= link_to '利用規約', agreement_path %></li>
            <li><%= link_to 'プライバシーポリシー', privacy_path %></li>
            <li><a href="/cat_list/1">サイト運営者</a></li>
          </ul>
        </div>
      </div>
      <p class="text-right">
        <a href="#">Back to top</a>
      </p>