<div id="mainvisual">
  <div class="mainVisual_wrapper section">
    <div class="container">
      <div class="row mainVisual_bg">
        <div class="col-md-8">
          <%= image_tag '780x350.png', :alt => 'Main_Visual', :class => 'img-responsive' %>
        </div>
        <div class="col-md-4">
          <div class="hidden-xs hidden-sm">
            <% if user_signed_in? %>
              <ul class="profile">
                <li><%= image_tag @user_info[0].avatar.url(:thumb) %>　<%= @user_info[0].name %></li>
                <li>【総学習時間】　　<%= @total_time %></li>
                <li>【完了レッスン数] 　<%= @learning_count %>レッスン</li>
                <li class="text-right"><a href="/lessons/new_lesson">新着レッスン一覧</a></li>
              </ul>
            <% else %>
              <%= form_for(:user, :url => session_path(:user), :html => { :class => 'form-horizontal' }) do |f| %>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <%= f.text_field :email, :class => 'form-control', :placeholder => 'メールアドレス' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <%= f.password_field :password, :class => 'form-control', :placeholder => 'パスワード' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <%= f.check_box :remember_me%>
                    <%= f.label :remember_me, 'ログイン情報を記憶する'  %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-10 col-md-offset-1">
                    <%= f.submit 'ログイン', :class => 'btn btn-default' %>
                  </div>
                </div>
              <% end %>
              <hr class="col-md-10 col-md-offset-1">
              <div class="form-group">
                <div class="col-md-6">
                  <button type="button" class="btn btn-default form-left" onclick="location.href='/users/sign_up'" style="width:140px;">新規ユーザ登録</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-default"onclick="location.href='/users/password/new'" style="width:140px;">パスワード再発行</button>
                </div>
              </div>
  <!--             <div class="form-group">
                <div class="col-md-6">
                  <button type="button" class="btn btn-default form-left" onclick="location.href='/'" style="width:140px;">Facebookログイン</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-default"onclick="location.href='/'" style="width:140px;">Twitterログイン</button>
                </div>
              </div> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>