                <div class="row">
                  <div class="col-xs-12">
                    <h2>カテゴリ一覧</h2>
                    <%= image_tag '740x320.png', :alt => 'Main_Visual', :class => 'img-responsive bottom20'%>
                    <% if @categories.present? %>
                      <% @categories.each do |cat| %>
                        <h3 id="<%= cat.category_name %>"><%= cat.category_name %></h3>
                        <ul>
                        <% @category_lessons_all.each do |lesson| %>
                          <% if lesson.category_name == cat.category_name %>
                            <li>【中学<%= lesson.grade %>年生】<%= link_to lesson.unit_name + '：' + lesson.unit_item_name, '/grade' + lesson.grade.to_s + '/' + lesson.unit_item_name %></li>
                          <% end %>
                        <% end %>
                        </ul>
                      <% end %>
                    <% else %>
                      <ul>
                        <li>準備中です</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
