             <ul class="nav nav-tabs">
              <li class="active"><a href="#grade1" data-toggle="tab">中学1年生</a></li>
              <li><a href="#grade2" data-toggle="tab">中学2年生</a></li>
              <li><a href="#grade3" data-toggle="tab">中学3年生</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="grade1">
                <div class="row">
                  <div class="col-md-6">
                    <% if @grade1_units.present? %>
                      <% @grade1_units.each do |unit| %>
                        <h3><%= unit.unit_name %></h3>
                        <ul>
                        <% @grade1_units_all.each do |item| %>
                          <% if item.unit_name == unit.unit_name %>
                            <li><%= link_to item.unit_item_name, 'grade1/' + item.unit_item_name %></li>
                          <% end %>
                        <% end %>
                        </ul>
                      <% end %>
                    <% else %>
                      <ul>
                        <li>準備中です</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="grade2">
                <div class="row">
                  <div class="col-md-6">
                    <% if @grade2_units.present? %>
                      <% @grade2_units.each do |unit| %>
                        <h3><%= unit.unit_name %></h3>
                        <ul>
                        <% @grade2_units_all.each do |item| %>
                          <% if item.unit_name == unit.unit_name %>
                            <li><%= link_to item.unit_item_name, 'grade2/' + item.unit_item_name %></li>
                          <% end %>
                        <% end %>
                        </ul>
                      <% end %>
                    <% else %>
                      <ul>
                        <li>準備中です</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="grade3">
                <div class="row">
                  <div class="col-md-6">
                    <% if @grade3_units.present? %>
                      <% @grade3_units.each do |unit| %>
                        <h3><%= unit.unit_name %></h3>
                        <ul>
                        <% @grade3_units_all.each do |item| %>
                          <% if item.unit_name == unit.unit_name %>
                            <li><%= link_to item.unit_item_name, 'grade3/' + item.unit_item_name %></li>
                          <% end %>
                        <% end %>
                        </ul>
                      <% end %>
                    <% else %>
                      <ul>
                        <li>準備中です</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
