            <h2>レッスン検索結果</h2>
            <% unless @search_lessons == '' %>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>学年</th>
                    <th>単元</th>
                    <th>単元項目名</th>
                    <th>レッスン名</th>
                    <th>レッスン概要</th>
                  </tr>
                </thead>
                <tbody>
                  <% @search_lessons.each do |lesson| %>
                  <tr>
                    <td>中学<%= lesson.grade %>年生</td>
                    <td><%= lesson.unit_name %></td>
                    <td><%= lesson.unit_item_name %></td>
                    <td><%= lesson.title %></td>
                    <td><%= lesson.summary %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <%= paginate @search_lessons %>
            <% end %>