    <h2>お問合わせ</h2>
    <p>本サイト、レッスン内容などに関するご質問、その他、サービスに関するお問合わせフォームとなります。</p>
    <div class="alert alert-info">
      <p>お問合せの前に「よくある質問」をご覧ください。</p>
      <%= link_to '「よくある質問」はこちら', faq_index_path %>
    </div>
    <h2>お問合せフォーム</h2>
    <% if @contact.errors.any? %>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @contact, :url => contact_path, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.text_field :name, :autofocus => true, :class => 'form-control', :placeholder => 'お名前'  %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'メールアドレス' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label :inquiry, 'お問合わせ内容：' %>
        </div>
        <div class="col-xs-9">
          <label><%= f.radio_button :inquiry, '1', { :checked => true } %>レッスン内容について</label><br>
          <label><%= f.radio_button :inquiry, '2' %>サイト運営について</label><br>
          <label><%= f.radio_button :inquiry, '3' %>その他</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6">
          <%= f.text_area :content, :autofocus => true, :class => 'form-control', :placeholder => '具体的な内容' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
          <dd><%= f.submit "メール送信", :class => 'btn btn-default' %></dd>
        </div>
      </div>
    <% end %>